.content {
  border: 3px solid white;
  radius: 50px;
  background-color: #966288;
  color: white;
}
body {
    text-align: center;
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}
